
.form{
	width: 50%;
	height: auto;
	padding: 10px;
	background-color: #fff;
}
#main ul, #main li{
	margin: 0;
	padding: 0;
}
#main li{
	float: none;
}
.form{
	margin-left: 20%;
}
input, select, textarea{
border: 1px solid #d5d2d2;
margin-bottom: 10px;
background-color: #f5f5f5;
height: 30px;
width: 80%;
padding: 10px 16px;
font-size: 18px;
border-radius: 6px;
outline: none;
}
select, option{
	height: 40px;
	width: 80%;
}
input:focus, select:focus, textarea:focus{
	border: 0;
	background-color: #fff;
}
.login-button{
	width: 85%;
	height: 50px;
	margin-top: 10px;
}
.login-button:hover{
	background-color: #007a5aDF;
	color: #FFFFFFEF;
}