body{
margin: 0; padding: 0;
font-family: 'Poppins', sans-serif;
background-color: #f1f2f4;
}

h1, h2, h3, h4, h5, h6, p{
margin-bottom: 10px;
}

ul{
	list-style-type: none;
	overflow: hidden;
}

li{
float: left;
}

ul li a{
	display: block;
	padding: 10px 10px;
}
a{
text-decoration: none;
font-family: 'Poppins', sans-serif;
}

a{
color: #007a5a;
}
.btn-custom{
border: 2px solid #007a5a;
border-radius: 3px;
padding: 12.8px 28.8px;
background-color: #007a5a;
color: #fff;
}
.btn-custom a{
	color: #fff;
}
.btn-custom:hover{
	border: none;
	background-color: transparent;
	color: #000000;
	border: 2px solid white;
}
section, header{
margin-bottom: 30px;
}
.container-full{
width: 100%;
}
.container{
padding-left: 5%;
padding-right: 5%;
}
.left{
	float: left;
}
.right{
	float: right;
}
.button:active{
	outline: none;
    border: none;
}
.button:focus{
    outline: 0;
}
.logo img{
	position: absolute;
	width: 90px;
	height: 90px;
}
#top-header{
    width: 100%;
    height: 80px;
    background-color: #00425d;
	border-top: 4px solid yellow;
}
section{
	overflow: hidden;
}
#top-header button{
	padding: 5px;
	height: auto;
}
.title{
	display: inline-block;
	color: #8edfff;
	margin-right: 20px;
}
.sell-book-button{
	margin-top: 10px;
}
.sell-book-button button{
	background-color: Transparent;
	border: 2px solid #fff;
}
#bottom-header{
	height: 70px;
	background-color: #0b384a;
	font-size: 18px;
	margin-top: -30px;
	position: relative;
}
#bottom-header nav{
	margin-left: 25%;
}
#bottom-header nav ul{
	position: absolute;
	top: 1px;
}
#bottom-header a{
	color: yellow;
}
#bottom-header a:hover{
	color: #fff;
}
#footer{
	padding-top: 10px;
	height: 500px;
	background-color: black;
	color: white;
}
#footer .logo{
	margin-left: 570px;
	margin-top: 10px;
	margin-bottom: 80px;
	overflow: hidden;
}
#footer .logo img{
	height: 80px;
	width: 80px;
}
#footer .foot-menu{
	margin-left: 240px;
}
#footer .foot-menu a{
	color: SlateGrey;
}
.sub{
	margin-left: 370px;
}
.sub button:hover{
	color: #fff;
}
.input button, #all-posts button{
	height: 50px;
	background-color: Crimson;
	border: none;
}
#all-posts button:hover{
	color: black;
	background-color: LightCoral;
}
.sub-input{
	height: 38px;
	width: 40%;
	padding: 5px;
}
.copyright{
	margin-top: 70px;
	margin-left: 470px;
	
}
.login-image{
	margin-top: -300px;
}